
body {
    background-color: #F1F5F8;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:70%;
}

@media only screen and (max-width: 1800px) {

  .mainWrapper {
    width:80%;
  }
  
}


@media only screen and (max-width: 1544px) {
 
  .mainWrapper {
    width:90%;
  }
  
}

@media only screen and (max-width: 1345px) {

  .mainWrapper {
    width:95%;
  }
  
}

@media only screen and (max-width: 1275px) {

  .mainWrapper {
    width:98%;
  }
  
}


/* div {
  width: 100% !important;
}
.fusioncharts-container {
  width: 100% !important;
}
svg {
  width: 100% !important;
  border-radius: var(--radius) !important;
} */

@media only screen and (max-width: 675px) {

  div {
    width: 100% !important;
  }
  .fusioncharts-container {
    width: 100% !important;
  }
  svg {
    width: 100% !important;

  }
  
}

/*
Bu da bestpractise bilmemiz gereken noktalardan birisidir...
Eger biz hazir bir kutuphaneden bir grafik, chart tarzi seyler kullaniyorsak
onu hazir aliyoruz hatta css leri de hazir geliyor ancak, bu tarz grafikler
svg ile yazildigi icin ayrica kendine ait class ve style lari olabiliyor 
bizim ona mudahele etmemiz gerekecektir...bunu bilmemiz cook onemli, bazen
mudahele edip de sonuc alamayabiliriz o durumlarda da important i dusunebiilriz....
Birde sunu anlamaliyiz, eger ekran kuculdukce bir grafik veya herhangi bir kutu 
hic kuculmiyor ayni kaliyor ise demekki biz o kutuya sabit bir genislik 
vermisiz orneign 470px gibi halbuki onun yerine ona % ile bir genislik verse idik
o da kendini ekrana gore ayarlayarak ekran kuculdukce kuculup ekran buyudukce de buyurdu
*/
@media only screen and (max-width: 575px) {
  
  div {
    width: 100% !important;
  }
  .fusioncharts-container {
    width: 100% !important;
  }
  svg {
    width: 100% !important;

  }
  
}